# local package
-e .

# external requirements
black
flake8
hydra-core
isort
pre-commit
pytest
python-dotenv
tqdm
wandb

# generic requirements
matplotlib
numpy
pandas
scipy
seaborn

# project requirements
pytorch_lightning
torch
torchmetrics
torchvision
